// COLORS
$grey-dark:  	#404040;
$grey:  			#6d6d6d;


// FONTS
$font-main: 	'Roboto', sans-serif;


// MEDIA QUERY VARIABLES
$width-lg:  1200px;
$width-md: 992px;
$width-sm: 768px;
$width-xs: 576px;

