
include ../../blocks/project/hero/hero.pug
include ../../blocks/project/footer/footer.pug
include ../../blocks/project/header/header.pug
include ../../blocks/project/hero/hero.pug
include ../../blocks/project/header/header.pug
include ../../blocks/project/footer/footer.pug
include ../../blocks/project/footer/footer.pug
include ../../blocks/project/hero/hero.pug
include ../../blocks/project/header/header.pug