extends ../layout/layoutBase.pug 
//- подключение стартового шаблона страницы 

block content
	//- контент страницы
	+b.about-page
		+b.test
			+e.container
				+e.H1.title Lorem ipsum! 
				+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio blanditiis placeat debitis laboriosam accusantium consectetur iste doloribus, corporis deserunt ipsum voluptate optio, ipsa eum aliquid. Deleniti deserunt fugit quam.
				+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio blanditiis placeat debitis laboriosam accusantium consectetur iste doloribus, corporis deserunt ipsum voluptate optio, ipsa eum aliquid. Deleniti deserunt fugit quam.
				+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio blanditiis placeat debitis laboriosam accusantium consectetur iste doloribus, corporis deserunt ipsum voluptate optio, ipsa eum aliquid. Deleniti deserunt fugit quam.




	//- Документация по Bemto
	//- https://github.com/kizu/bemto
	//- +b.block
	//- 	+e.element


	//- +b.index-page
	//- класс обертка для всей страницы. 
	//- помогает легко модифицировать базовые блоки в контексте одной страницы и не использовать лишних модификаторов. При данном подходе сам базовый блок вне страницы не изменяется.

	//- ПРИМЕР
	//- Задача: на странице используется базовая картачка товара но с изменным дизайном - Размер текста изменён, кнопка другого цвета и т.д. 
	//- +b.product-card
	//-  +e.title Title card
	//-  +e.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae minus error vero ad delectus explicabo modi, ducimus necessitatibus culpa ea beatae, tenetur. Asperiores dolorem pariatur, vel non odit sapiente fugit?
	//-  +e.btn Buy

	//- Решение с помощью обёртки
	//- назначить нужные модификации в блоке index-page (index-page.less)
	//- .index-page {
	//- 
	//- 	&__descr {
	//- 		font-size: 1.6rem;
	//- 	}
	//- 
	//- 	&__btn {
	//- 		bacground-color: red; 
	//- 	}
	//- }
	

	